.window {
    position: absolute;
    top: 20%;
    left: 24%;
    width: 940px;
    height: 500px;
    display: none;
    border-bottom: 4px solid black;
}

.window .controls {
    background: black;
    height: 14px;
    position: fixed;
    width: 940px;
    /* z-index: 100; */
    /* top: 18%;
    left: 22%;
    z-index: 3; */
}

.window .controls .closeBtn {
    background: red;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.libWindow {
    /* background: linear-gradient(to right top, #08A5C4, #6cdbeb); */
    background: #52a9d4;
    top: 18%;
    left: 22%;
    overflow-y: auto;
}


.galWindow {
    background: #ebdbdbe1;
    overflow-y: auto;
    top: 18%;
    left: 22%;
}

.galWindow .header {
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}


