@import 'vars.less';


.border(@px) {
    border: @px solid black
}

@dark: #293A43;
@gray: #4B5A65;
@gachi: #878E95;
@light: #EDEDED;
@wheater: #ECE1B9;
@pudra: rgb(233,171,88);
@orall: #F0650D;
@corall: #FE6F61;
@lightblue: rgb(0, 144, 192);
@blue: #0079BF;
@deep: #173F5F;
@bluer: rgba(19, 19, 180, 0.767);
@greyblue: #1A4971;
@darkblue: #2368A2;
@green: #74D99F;
@grun: #3CAEA3;
@salat: #6ED7D3;
@brewn: #DB3030;
@yellow: #F6D55C;

@inn: #DDDDDD;
@yan: #111111;