$blackColor: #333;
$whiteColor: #fff;
$greyColor: #e8e8e8;
$primaryColor: #08aef1;
$secondaryColor: #3daf3d;
$freeSpace: 15px;
$headerHeight: 49px;
$footerHeight: 49px;
$successColor: #87bf0a;
$errorColor: #e82c0c;
$borderRadius: 3px;