@import 'media';
@import 'reset';
@import 'classes';
@import 'forms';
@import 'links';
@import 'comments';
@import 'posts';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

body {
    background: #90ee90;
    display: flex;
    flex-direction: column;
    flex: auto;
    color: $blackColor;
    padding-top: $headerHeight + $freeSpace;
}

textarea {
  resize: none;
}

.container {
    align-self: center;
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $headerHeight;
    font-size: 18px;
    background-color: $primaryColor;
    opacity: 0.9;
    z-index: 1000;
  
    .container {
      height: 100%;
      justify-content: space-between;
      align-items: center;
  
      .logo {
        color: white;
        font-size: 42px;
      }
  
      .menu {
        display: flex;
        list-style: none;
        height: 100%;
        align-items: center;
  
        li {
          a {
            color: $whiteColor;
          }
        }
      }
    }
  }

  .main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
    .container {
      .content {
        flex: 3;
        margin-right: $freeSpace;
        margin-bottom: $freeSpace;
        // padding: $freeSpace;
        min-height: 100px;
        // border: 1px solid $greyColor;
        .pagination {
          font-size: 1.15em;
          .old {
            float: right;
            color: #333;
            text-decoration: none;
            font-weight: 800;
          }
          .new {
            float: left;
            color: #333;
            text-decoration: none;
            font-weight: 800;
          }
        }
      }
  
      .sidebar {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
  
        .box {
          margin-bottom: $freeSpace;
          padding: $freeSpace;
          width: 100%;
          min-height: 140px;
          border: 1px solid $whiteColor;
          background: #fff;

          ul {
            list-style: none;
            li {
              padding: 2px 0 2px;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: $footerHeight;
    border-top: 1px solid $greyColor;
    background-color: $whiteColor;
  
    .container {
      height: 100%;
      line-height: $footerHeight;
    }
  }

.addPost {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  & a:hover {
    text-decoration: none !important;
  }
}