@media screen and (max-width: 1100px) {

    .header {
        justify-content: space-around;
    }

    .mainBody .body .knowledge {
        order: 1;
    }
    
    .mainBody .body .languages {
        order: 2;
    }
    
    .mainBody .body .art {
        order: 4;
    }
    
    .mainBody .body .other {
        order: 3;
    }
    
    .mainBody .body .achievements {
        order: 6;
    }

    .mainBody .body .participations {
        order: 8;
    }

    .mainBody .body .coding {
        order: 7;
    }
    
    .mainBody .body .travel {
        order: 5;
    }

}

@media screen and (max-width: 770px) {
    body {
        overflow: auto;
    }

    main {
        flex-direction: column;
    }

    .mainBody {
        overflow-y: initial;
        height: auto;
    }

    .header {
        height: auto;
        width: 100vw;
        justify-content: space-between;
    }

    .header .age {
        margin-top: 30px;
    }

    .mainBody {
        width: 100vw;
    }

    .mainBody .special {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    .header {
        height: 100vh;
    }

    .mainBody .body .body_block {
        margin: 16px 10px;
        min-width: 90%;
        max-width: 90%;
    }

    .mainBody .body .body_block .list .list_item p {
        font-size: 22px;
    }

    .mainBody .body .body_block .list .list_item p {
        max-width: 350px;
    }
}

