*, html {
    margin: 0;
    padding: 0;
    color: rgb(34, 28, 28);
    box-sizing: border-box;
}

main {
    background: #666;
    display: flex;
}

.header {
    height: 100vh;
    width: 30vw;
    background: #1CB0F6;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'MuseoModerno', cursive;
}

.header .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(102, 158, 37); */
}

.header .age h1 {
    font-size: 8em;
    margin-bottom: -40px;
    /* font-family: 'Playfair Display', serif; */
}

.header .level h1 {
    font-size: 5em;
}

.header .level .levelBar {
    width: 100%;
    height: 50px;
    margin-top: 14px;
    background: #000;
    /* border-radius: 10px; */
    position: relative;
}

.header .level .levelBar .bar_progress {
    height: 100%;
    position: absolute;
    left: 0;
    background: #7AC70C;
}

.header .level .levelBar span {
    color: wheat;
    position: absolute;
    z-index: 2;
    top: 36%;
    left: 40%;
}

.mainBody {
    width: 70vw;
    height: 100vh;
    background: #ccccc2dc;
    overflow-y: scroll;
}

.mainBody .special {
    height: 200px;
    width: 100%;
    background: #1CB0F6;
    border-bottom: 3px solid black;
}

.mainBody .body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainBody .body .body_block {
    margin: 16px 6px;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.mainBody .body .body_block h2 {
    font-size: 2.4em;
    font-family: 'Playfair Display', serif;
}

.mainBody .body .body_block .list .list_item {
    margin: 10px 0;
    min-width: 220px;
}

.mainBody .body .body_block .list .list_item .prog {
    width: 100%;
    height: 10px;
    border-radius: 10px 0;
    background: rgb(167, 150, 150);
    position: relative;
    margin-top: 4px;
}

.mainBody .body .body_block .list .list_item .prog .ress {
    height: 100%;
    border-radius: 10px 0;
    position: absolute;
    left: 0;
    background:rgb(1, 161, 1);
}

.mainBody .body .body_block .list .list_item p {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.mainBody .body .body_block .list .list_item p span {
    margin-left: 10px;
    color: black;
    font-weight: 900;
}

.mainBody .body .knowledge {
    background:#BF223C;
}

.mainBody .body .languages {
    background:#56c46c;
}

.mainBody .body .art {
    background:#f1cf09;
}

.mainBody .body .other {
    background:#0E9AA7;
}

.mainBody .body .achievements {
    background: #F06449;
}

.mainBody .body .travel {
    background: rgb(83, 125, 218);
}

.mainBody .body .travel .list .list_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mainBody .body .travel .list .list_item p {
    margin-right: 6px;
}