*, html {
    margin: 0;
    padding: 0;
    color: rgb(34, 28, 28);
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar{
    width:12px;
    background: #eee;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb{
    background:#aaa;
    box-shadow:inset 0 0 6px rgba(0,0,0,.5);
}

main {
    background: #666;
    display: flex;
}

.header {
    height: 100vh;
    width: 30vw;
    background: #1CB0F6;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'MuseoModerno', cursive;
}

.header .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(102, 158, 37); */
}

.header .age {
    margin-top: -30px;
}

.header .age h1 {
    font-size: 8.4em;
    margin-bottom: -50px;
}

.header .chars {
    margin-top: 30px;
}

.header .chars ul {
    list-style: none;
    font-size: 1.4em;
}

.header .chars ul .char_block {
    display: flex;
    max-width: 100%;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
}

.header .chars ul .char_block span {
    margin-left: 40px;
    border: 3px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .level h1 {
    font-size: 5em;
    margin-bottom: -20px;
}

.header .level .levelBar {
    width: 101%;
    height: 50px;
    margin-top: 14px;
    background: #000;
    position: relative;
}

.header .level .levelBar .bar_progress {
    height: 100%;
    position: absolute;
    left: 0;
    background: #7AC70C;
}

.header .level .levelBar span {
    color: wheat;
    position: absolute;
    z-index: 2;
    top: 36%;
    left: 40%;
}

.mainBody {
    width: 70vw;
    height: 100vh;
    background: #BACDD4;
    overflow-y: scroll;
}

.mainBody .special {
    height: 300px;
    width: 100%;
    background: #1CB0F6;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'MuseoModerno', cursive;
}

.mainBody .special h1 {
    font-size: 4em;
}

.mainBody .special h4 {
    font-size: 18px;
    padding: 0 20px;
    line-height: 20px;
    margin-bottom: 14px;
}

.mainBody .body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

.mainBody .body .body_block {
    margin: 16px 6px;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.mainBody .body .body_block h2 {
    font-size: 2.4em;
    font-family: 'Playfair Display', serif;
    color: #1b2b3f;
    /* background: #32a8a8; */
}

.mainBody .body .body_block .list .list_item {
    margin: 10px 0;
    min-width: 200px;
}

.mainBody .body .body_block .list .list_item .prog {
    width: 100%;
    height: 10px;
    border-radius: 10px 0;
    background: rgb(167, 150, 150);
    position: relative;
    margin-top: 4px;
}

.mainBody .body .body_block .list .list_item .prog .ress {
    height: 100%;
    border-radius: 10px 0;
    position: absolute;
    left: 0;
    background:rgb(3, 165, 3);
}

.mainBody .body .body_block .list .list_item p {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    max-width: 340px;
}

.mainBody .body .body_block .list .list_item p span {
    margin-left: 10px;
    color: black;
    font-weight: 900;
}

.mainBody .body .knowledge {
    /* background:#BF223C; */
    background: #d80056d7;
}

.mainBody .body .languages {
    background:#56c46c;
}

.mainBody .body .art {
    background:#e92848;
}

.mainBody .body .coding {
    background:#3fc259;
}

.mainBody .body .other {
    background:#0ca3b1;
}

.mainBody .body .achievements {
    background: #F06449;
}

.mainBody .body .participations {
    /* background: #32a8a8; */
    background:#f1cf09;
}

.mainBody .body .travel {
    background: rgb(83, 125, 218);
}

.mainBody .body .travel .list .list_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mainBody .body .travel .list .list_item p {
    margin-right: 6px;
}


.mainBody .body .knowledge .list .list_item p span::after {
    content: 'h';
    margin-left: 4px;
}

.mainBody .body .languages .list .list_item p span::after {
    content: 'h';
    margin-left: 4px;
}

.mainBody .body .other .list .list_item p span::after {
    content: 'h';
    margin-left: 4px;
}

.mainBody .body .coding .list .list_item p span::after {
    content: 'h';
    margin-left: 4px;
}




.mainBody .library {
    margin-top: 60px;
    margin-bottom: 40px;
    border-top: 6px solid black;
}


.mainBody .library h1 {
    padding: 20px 0 10px;
    font-size: 4em;
    font-family: 'MuseoModerno', cursive;
    display: flex;
    justify-content: center;
}

.mainBody .library .authors {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.mainBody .library .authors p {
    border: 3px solid black;
    background: #1CB0F6;
    padding: 10px;
    margin: 6px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.mainBody .library .authors p:hover {
    opacity: 0.7;
}

.mainBody .library .container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mainBody .library .container .book {
    width: 170px;
    height: 260px;
    background: #000;
    margin: 20px 40px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
}

.selected {
    border: 4px solid #d80056d7 !important;
}

.mainBody .library .container .hell {
    background-image: url('./covers/hell.jpg');
}

.mainBody .library .container .mockin {
    background-image: url('./covers/mockin.jpg');
}

.mainBody .library .container .galaxy {
    background-image: url('./covers/galaxy.jpg');
}

.mainBody .library .container .innsmut {
    background-image: url('./covers/innsmut.jpg');
}

.mainBody .library .container .legend {
    background-image: url('./covers/legend.webp');
}

.mainBody .library .container .choke {
    background-image: url('./covers/choke.webp');
}

.mainBody .library .container .atlant {
    background-image: url('./covers/atlant.jpg');
}

.mainBody .library .container .niggers {
    background-image: url('./covers/niggers.jpg');
}

.mainBody .library .container .oruel {
    background-image: url('./covers/1984.jpg');
}

.mainBody .library .container .millennium1 {
    background-image: url('./covers/millennium1.jpeg');
}

.mainBody .library .container .millennium2 {
    background-image: url('./covers/millennium2.jpg');
}

.mainBody .library .container .millennium3 {
    background-image: url('./covers/millennium3.webp');
}

.mainBody .library .container .geralt {
    background-image: url('./covers/geralt.jpeg');
}

.mainBody .library .container .ciri {
    background-image: url('./covers/ciri.jpg');
}

.mainBody .library .container .world {
    background-image: url('./covers/world.jpg');
}