*, html {
    margin: 0;
    padding: 0;
    color: rgb(34, 28, 28);
    box-sizing: content-box;
}

main {
    background: #666;
}

.head {
    height: 30vh;
    background: rgb(37, 37, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head h1 {
    font-size: 5em;
}

.body {
    min-height: 70vh;
    padding: 20px 10px;
    background: rgb(212, 129, 129);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.body .body_block {
    margin: 16px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body .body_block h2 {
    font-size: 3em;
    margin-top: 0px;
}

.body .body_block .list .list_item {
    margin: 10px 0;
    min-width: 220px;
}

.body .body_block .list .list_item p {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.body .body_block .list .list_item p span {
    margin-left: 10px;
    color: black;
    font-weight: 900;
}

.body .knowledge {
    background:rgb(180, 3, 3);
}

.body .languages {
    background:rgb(103, 177, 19);
}

.body .art {
    background:rgb(167, 179, 7);
}

.body .other {
    background:rgb(150, 9, 155);
}
