.about {
  margin: 0px auto;
  // border: 3px solid white;
  padding: 100px 0;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap; 
}

.about small {
  color: #eee;
  font-family: 'Titillium Web', sans-serif;
  opacity: 0.8;
}



.about-text {
  max-width: 550px;
  position: relative;
  margin-left: 30px;
}

.about-text::after {
  content: '';
  background: #00E6E6;
  height: 260px;
  width: 400px;
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  position: absolute;
  top: 20px;
  left: 600px;
}
  
.about-text h1 {
  font-size: 4em;
  color: #00E6E6;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.about-text p {
  color: #eee;
  margin-bottom: 12px;
  font-family: 'Titillium Web', sans-serif;
}



.about-edu {
  max-width: 500px;
  margin-top: 320px;
  position: relative;
}

.about-edu::before {
  content: '';
  background: #0D80FF;
  height: 260px;
  width: 260px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  position: absolute;
  top: 40px;
  right: 500px;
}

.about-edu h2 {
  font-size: 3em;
  color: #0D80FF;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.about-edu h3 {
  color: #0D80FF;
  margin-bottom: 10px;
  font-family: 'Titillium Web', sans-serif;
  margin: 10px 0 0;
}

.about-edu p {
  color: white;
  margin-bottom: 12px;
  font-family: 'Titillium Web', sans-serif;
}



.about-exp {
  max-width: 500px;
  position: relative;
}

.about-exp::after {
  content: '';
  background: #BF223C;
  height: 340px;
  width: 340px;
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  top: 80px;
  left: 580px;
}

.about-exp h2 {
  font-size: 3em;
  color: #BF223C;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.about-exp p {
  color: white;
  margin-bottom: 12px;
  font-family: 'Titillium Web', sans-serif;
}

.about-exp h3 {
  color: #BF223C;
  margin-bottom: 10px;
  font-family: 'Titillium Web', sans-serif;
  margin: 10px 0 0;
}
