.about {
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 600px;
  }
  
  .about h1 {
    font-size: 4em;
    color: cyan;
    margin-bottom: 50px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .about p {
    color: white;
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
  }