.contacts {
    position: absolute;
    left: 10%;
    top: 20%;
}

.contacts h1 {
    font-size: 4em;
    color: $mainColor;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.contacts ul {
    margin-left: 20px;
}

.contacts i {
    color: $mainColor;
}

.contacts i:before {
    font-size: 30px;
}

.contacts ul li {
    margin-bottom: 20px;
}

.contacts ul li:first-child {
    margin-bottom: 40px;
}

.contacts-inst, .contacts-git, .contacts-link, .contacts-mail {
    position: relative;
}

.contacts-mail:after {
    content: 'dima.dima.989@gmail.com';
    color: $mainColor;
    position: absolute;
    left: 36px;
    bottom: 8px;
    font-weight: 100;
}

.contacts-inst:after {
    content: 'Instagram';
    color: $mainColor;
    position: absolute;
    left: 36px;
    bottom: 6px;
}

.contacts-git:after {
    content: 'GitHub';
    color: $mainColor;
    position: absolute;
    left: 36px;
    bottom: 6px;
}

.contacts-link:after {
    content: 'LinkedIn';
    color: $mainColor;
    position: absolute;
    left: 36px;
    bottom: 6px;
}