.contacts {
    position: absolute;
    left: 10%;
    top: 20%;
}

.contacts h1 {
    font-size: 4em;
    color: #75BB97;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.contacts-cv a {
    border-radius: 3rem;
	height: 60px;
	width: 200px;
    background: #3F666F;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.contacts-cv a:hover {
    transform: scale(1.2)
}


.contacts ul {
    margin-left: 20px;
}

.contacts i {
    color: #75BB97;
}

.contacts i:before {
    font-size: 30px;
}

.contacts ul li {
    margin-bottom: 20px;
}

.contacts ul li:first-child {
    margin-bottom: 40px;
}

.contacts-inst, .contacts-git, .contacts-link, .contacts-mail {
    position: relative;
}

.contacts-mail:after {
    content: 'dima.dima.989@gmail.com';
    color: #75BB97;
    position: absolute;
    left: 36px;
    bottom: 8px;
    font-weight: 100;
}

.contacts-inst:after {
    content: 'Instagram';
    color: #75BB97;
    position: absolute;
    left: 36px;
    bottom: 6px;
}

.contacts-git:after {
    content: 'GitHub';
    color: #75BB97;
    position: absolute;
    left: 36px;
    bottom: 6px;
}

.contacts-link:after {
    content: 'LinkedIn';
    color: #75BB97;
    position: absolute;
    left: 36px;
    bottom: 6px;
}