.greeting {
    position: absolute;
    left: 10%;
    top: 30%;
    display: flex;
    // border: 1px solid white; 
  }
  
.greeting-hi div:first-child h1 {
  font-size: 3em;
  color: white;
  margin-top: -10px;
  font-family: 'Montserrat', sans-serif;
  cursor: default;
}

.greeting-hi div:first-child h1 p {
  display: inline-block;
}

.greeting-hi div:first-child h1 p:hover {
  animation-duration: .8s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
  animation-name: bounced;
  color: cyan;
}

.greeting-hi div:first-child h1:first-child {
  margin-top: 20px;
}

.greeting-hi h2 {
  color: #8d8d8d;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;

}

.contactMe a{
  display: inline-block;
  width: 140px;
  height: 30px;
  letter-spacing: 4px;
  font-size: 14px;
  color: cyan;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  padding: 2px 15px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid cyan;
  cursor: pointer;

  transition: .3s;
}

.contactMe a:hover {
  background: cyan;
  color: black;
}

.greeting-ava {
  background: url('../ava.jpg');
  height: 300px;
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-right: 50px;
}
