@media screen and (max-width: 1200px) {
    .about {
        margin-left: 140px;
    }

    .about div {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .greeting-hi div:first-child {
        margin-top: 40px;
    }
    .greeting-hi div:first-child h1 {
        font-size: 30px;
        margin-top: 0px;
    }

    .sidebar {
        width: 100%;
        height: 60px;
    }

    .sidebar-logo {
        width: 60px;
        height: 100%;
    }

    .sidebar ul {
        flex-direction: row;
        height: 100%;
        width: calc(90% - 60px);
        justify-content: space-around;
        top: 0;
        left: 20%;
    }

    .about {
        margin: 0;
    }

    .about-text {
        margin-left: 134px;
    }

    .about div {
        width: 600px;
    }

    .about-edu, .about-exp {
        margin: 10px auto;
    }

}

@media screen and (max-width: 650px) {

    .greeting-ava {
        display: none;
    }

    .about-text {
        margin: 0 auto;
    }

    .about {
        left: 0;
        margin: 0 16px;
    }

    .about div {
        width: 300px;
    }

    .about-text h1 {
        font-size: 3em;
    }

    .about-text p {
        font-size: 14px;
    }

    .skills {
        left: 0;
        padding: 0 16px;
    }

    .skills h1{
        font-size: 3em;
    }
}