@media screen and (min-width: 2000px) {
    .project div p {
        font-size: 3em;
    }

    .project-check {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 1200px) {

    .home {
        position: absolute;
        left: 10%;
        top: 32%;
        margin: 0;
    }

    .cutePart {
        left: 5%;
        margin: 100px auto;
    }

    .about {
        margin-left: 140px;
    }

    .about div {
        width: 400px;
    }

    .about-edu {
        margin-top: 380px;
    }

    .about-text::after, .about-edu::before, .about-exp::after {
        display: none;
    }

    .projects {
        margin-left: 140px;
    }

    .projects-container .project {
        height: 200px;
        width: 44%;
        margin-left: 0;
    }

    .project div p {
        font-size: 38px;
    }

    .project-check {
        font-size: 42px;
    }
}

@media screen and (max-width: 800px) {

    .greeting-hi div:first-child {
        margin-top: 40px;
    }
    .greeting-hi div:first-child h1 {
        font-size: 30px;
        margin-top: 0px;
    }

    .sidebar {
        width: 100%;
        height: 60px;
    }

    .sidebar-logo {
        width: 60px;
        height: 100%;
    }

    .sidebar ul {
        flex-direction: row;
        height: 100%;
        width: calc(90% - 60px);
        justify-content: space-around;
        top: 0;
        left: 18%;
    }

    .sidebar ul li {
        margin-bottom: 0;
    }

    .sidebar i {
        flex-direction: column;
        text-align: center;
    }

    .about {
        margin: 0;
        margin-left: -60px;
    }

    .about-text {
        margin-left: 164px;
    }

    .about div {
        width: 600px;
    }

    .about-edu, .about-exp {
        margin: 10px auto;
    }

    .projects {
        margin-left: 100px;
    }

    .projects-container .project {
        height: 160px;
    }

    .project div {
        height: 80%;
        top: 10%;
    }

    .project-check {
        margin-top: 480px;
    }

}

@media screen and (max-width: 650px) {

    .cutePart {
        display: none;
    }

    .greeting-ava {
        display: none;
    }

    .sidebar ul {
        width: calc(95% - 60px);
        margin-left: 5px;
    }

    .sidebar i {
        font-size: 10px;
    }

    .sidebar i:before {
        font-size: 20px;
    }

    .about {
        margin: 0;
    }

    .about-text {
        margin: 0 auto;
    }

    .about div {
        width: 300px;
    }

    .about-text h1 {
        font-size: 3em;
    }

    .about-text p {
        font-size: 14px;
    }

    .skills {
        left: 0;
        padding: 0 16px;
    }

    .skills-description h1{
        font-size: 3em;
    }

    .projects {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .projects h1 {
        font-size: 3em;
        margin: 100px auto 30px;
    }

    .projects-container {
        width: 100%;
    }

    .projects-container .project {
        height: 190px;
        width: 100%;
        margin: 20px 0;
    }

    .project div {
        width: 100%;
        height: 80%;
        top: 10%;
        left: 0;
    }

    .project div p {
        font-size: 24px;
    }

    .project-check {
        font-size: 26px;
        margin-top: 300px;
    }

}

@media screen and (max-width: 330px) {
    .project div p {
        font-size: 18px;
    }

    .projects-container .project {
        height: 160px;
    }

    .project-check {
        font-size: 20px;
        margin-top: 160px;
    }
}