@media screen and (max-width: 1200px) {

    .about {
        margin-left: 140px;
    }

    .about div {
        width: 400px;
    }

    .about-edu {
        margin-top: 380px;
    }

    .about-text::after, .about-edu::before, .about-exp::after {
        display: none;
    }

    .projects {
        margin-left: 140px;
    }

    .projects-container a {
        height: 200px;
        width: 44%;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .greeting-hi div:first-child {
        margin-top: 40px;
    }
    .greeting-hi div:first-child h1 {
        font-size: 30px;
        margin-top: 0px;
    }

    .sidebar {
        width: 100%;
        height: 60px;
    }

    .sidebar-logo {
        width: 60px;
        height: 100%;
    }

    .sidebar ul {
        flex-direction: row;
        height: 100%;
        width: calc(90% - 60px);
        justify-content: space-around;
        top: 0;
        left: 18%;
    }

    .about {
        margin: 0;
        margin-left: -60px;
    }

    .about-text {
        margin-left: 164px;
    }

    .about div {
        width: 600px;
    }

    .about-edu, .about-exp {
        margin: 10px auto;
    }

    .projects {
        margin-left: 100px;
    }

    .projects-container a {
        height: 160px;
    }

}

@media screen and (max-width: 650px) {

    .greeting-ava {
        display: none;
    }

    .about {
        margin: 0;
    }

    .about-text {
        margin: 0 auto;
    }

    .about div {
        width: 300px;
    }

    .about-text h1 {
        font-size: 3em;
    }

    .about-text p {
        font-size: 14px;
    }

    .skills {
        left: 0;
        padding: 0 16px;
    }

    .skills-description h1{
        font-size: 3em;
    }

    .projects {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .projects h1 {
        font-size: 3em;
        margin: 100px auto 30px;
    }

    .projects-container {
        width: 100%;
    }

    .projects-container a {
        height: 190px;
        width: 100%;
        margin: 20px 0;
    }
}