.projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0px auto;
    padding: 100px 0;
    // border: 1px solid white;
}

.projects h1 {
    font-size: 4em;
    color: cyan;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project-wrapper {
    max-width: 1000px;
    margin-bottom: 50px;
}

.project-wrapper p {
    max-width: 1000px;
    font-size: 22px;
    font-family: 'Ranga', cursive;
    color: #eee;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid black;
    border-radius: 20px;
}

.project {
    height: 460px;
    width: 1000px;
    margin: 20px 40px 20px 0;
    border-top: 5px solid black;
    border-radius: 20px;
    transition: .5s;
    cursor: -webkit-grab;

    &:hover {
        transform: scale(1.08)
    }
}

.first {
    background: url('../img/Agency.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 60% 0%;
}

.second {
    background: url('../img/Сервер.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
}

.third {
    background: url('../img/Adventure.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
}

.fourth {
    background: url('../img/Redux.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}