.sidebar {
    height: 100%;
    width: 70px;
    background: #111111;
    position: absolute;
    top: 0;
}
  
.sidebar-logo {
  // background: url(../ava.jpg);
  background: #000;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
}

.sidebar ul {
  list-style: none;
  color: cyan;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 34%;
  /* border: 1px solid white; */
}
  
i::before {
  font-size: 24px;
}

a.fa {
  font-size: 24px;
}

