.skills {
    position: absolute;
    left: 10%;
    top: 20%;
  }
  
  .skills h1 {
    font-size: 4em;
    color: cyan;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .skills p {
    color: white;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .skills p span {
    color: cyan;
    font-size: 18px;
  }