* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #555;
}

main {
    border: 1px solid #000;
    background: #DDDDDD;
    width: 860px;
    margin: 20px auto;
    padding: 26px;
}

header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    text-align: center;
}

.logo h3 {
    font-weight: 100;
}

.links {
    font-size: 15px;
}

.contacts {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 50px 0;
    font-weight: 900;
    font-size: 14px;
}

.contacts .span {
    height: 20px;
    width: 2px;
    background: #000;
}

.contacts p:last-child {
    border-right: none;
}

.experience {
    padding: 20px;
}

.experience h2, .education h2 {
    border-bottom: 3px solid #000;
    width: 180px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.exp {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.companies div{
    margin-bottom: 40px;
}

.companies div:first-child{
    margin-bottom: 100px;
}

.companies div:nth-child(2n) {
    margin-bottom: 30px;
}

.compDescriptions {
    margin-left: 120px;
}

.compDescriptions div:first-child {
    margin-bottom: 30px;
}

.compDescriptions div:nth-child(2n) {
    margin-bottom: 50px;
}



.edu {
    display: flex;
    justify-content: space-between;
}

.unis {
    display: flex;
    flex-direction: column;
}



.uniDescriptions div:first-child {
    margin-bottom: 20px;
}

.uniDescriptions div:nth-child(2n) {
    margin-bottom: 20px;
}

.unis p{
    margin-bottom: 40px;
    margin-left: -400px;
}

footer {
    margin: 50px auto 0;
    padding-top: 30px;
    border-top: 1px solid #000;
    text-align: center;
}