* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.welcomeSection {
    background: #304ffe;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    width: 240px;
}

li {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.projBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projBox h1.title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 42px;
}

.projBox h1.cht {
    color: red;
}

.projList {
    max-width: 900px;
    margin: 10px 0 30px;
}

.projItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.projPic {
    width: 300px;
    height: 160px;
    margin-right: 10px;
    border-radius: 20px;
}

.projPic.first {
    background: url('./img/projects/1.jpg');
    background-position-y: -10%;
    background-position-x: 60%;
    background-size: 110%;
    background-repeat: no-repeat;
}

.projPic.second {
    background: url('./img/projects/2.png');
    background-position-y: -40%;
    background-position-x: 40%;
    background-size: 90%;
    background-repeat: no-repeat;
}

.projPic.third {
    background: url('./img/projects/3.jpg');
    background-position-y: -10%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.projPic.reactogram {
    background: url('./img/projects/reactogram.jpg');
    background-position-x: 10%;
    background-position-y: 10%;
    background-size: 160%;
    background-repeat: no-repeat;
}

.projPic.agency {
    background: url('./img/projects/agency.jpg');
    background-position-x: 50%;
    background-position-y: 10%;
    background-size: 160%;
    background-repeat: no-repeat;
}

.projPic.robot {
    background: url('./img/projects/robot.jpg');
    background-position-x: 70%;
    background-position-y: 50%;
    background-size: 180%;
    background-repeat: no-repeat;
    width: 400px;
    height: 160px;
}

.projPic.bachelor {
    background: url('./img/projects/robot.jpg');
    background-position-x: 70%;
    background-position-y: 50%;
    background-size: 180%;
    background-repeat: no-repeat;
    width: 400px;
    height: 160px;
}