* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* background: #0079BF; */
  /* background: rgb(0, 144, 192); */
  background: url('./images/fon.jpg');
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 10px auto;
  min-height: 100vh;
  flex-wrap: wrap;
  /* background: #0079BF; */
  /* background: rgb(0, 144, 192); */
  background: transparent;
  border-radius: 3px;
  /* border-left: 1px solid antiquewhite;
  border-right: 1px solid antiquewhite; */
}

.container {
  width: 250px;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin: 20px 0;

}

.container img {
  border-radius: 20%;
  border: 2px solid black;
}

.container h2 {
  text-align: center;
  margin: 10px 0;
  font-family: "Helvetica Neue";
  color: black;
}

form input{
  height: 80px;
  width: 100%;
  margin: 10px auto;
  border-radius: 3px;
  background: transparent;
  border: 3px solid #0079BF;
  color: #eee;
}

form .add-button{
  height: 60px;
  width: 100%;
  border-radius: 2px;
  background: #0079BF;
  border: 1px solid #0079BF;
  cursor: pointer;
  color: white;
}

.listItem {
  border: 1px solid grey;
  background:  #0079BF;
  margin: 10px 0;
  padding: 10px 10px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  min-height: 60px;
  border-radius: 3px;
  font-family: "Helvetica Neue";
  font-size: 1.2rem;
  color: black;
  overflow: hidden;
}

.listItem p {
  max-width: 130px;
  word-wrap: break-word;
  font-family: "Droid Sans";
  color: whitesmoke;
}

.listItem img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  background-size: cover;
  border-radius: 50%;
}

.listItem:active {
  background: lightgreen;
}

.delete-button {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat {
  width: 340px;
  align-items: center;
}

.chat p {
  max-width: 260px;
}

.chat .listItem {
  width: 320px;
  /* height: 80px; */
}

.chat .listItem img{
  display: inline-block;
}

.chat form {
  display: none;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .chat {
    order: 3;
  }

  .chat form {
    display: block;
  }
}