*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
	background: #eee;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #aaa;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body{
	font-family: 'Merriweather Sans', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}

a:hover{
	opacity: .5;
}

.mainPage {
	background: url(../img/yellow.jpg);
	overflow: hidden;
}

.mainContent {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	justify-content: center;
	height: 800px;
	padding: 0 20px;
}

.welcome-brand {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: -200px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}

.welcome-brand p {
	font-size: 22px;
}

.welcome-brand a {
	color: #304ffe;
	/* color: #B82020; */
	font-weight: 900;
}

.welcome {
	display: flex;
	flex-direction: row;
	margin-top: -60px;
	justify-self: center;
	flex-wrap: wrap;
}

.welcome-greeting {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
}

.greeting-avatar {
	height: 240px;
	width: 240px;
	background: url('../img/profile.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px;
}

.greeting-text {
	margin-left: 20px;
}

.greeting-text h1 {
	font-size: 2.2em;
}

.greeting-text span {
	color: blue;
}

.welcome-description {
	max-width: 400px;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 20px;
	align-self: flex-end;
}



.skillsPage{
	position: relative;
	overflow: hidden;
	margin: -140px auto;
	background: url(../img/yellow.jpg);
	/* background: #20639B; */
}

.catalog {
	margin: 200px auto;
	background: rgba(19, 19, 180, 0.9);
	display: flex;
	align-items: center;
}

.catalotItems {
	height: 80%;
	max-width: 650px;
	/* border: 1px solid aqua; */
	margin: 50px;
	padding: 10px;
	text-align: center;
}

.catalotItems h1 {
	color: white;
	opacity: .8;
}

.catalotItems h1:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: wheat;
	opacity: .3;
	margin-top: 10px;
}

.techs {
	/* border: 1px solid white; */
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tech {
	width: 120px;
	height: 120px;
	background: white;
	border-radius: 100px;
	margin: 10px;
}

.tech:first-child {
	background: url('../icons/html.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 2s infinite ease-in;
}

.tech:nth-child(2) {
	background: url('../icons/canvas.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 3s infinite ease-in;
}

.tech:nth-child(3) {
	background: url('../icons/js.png');
	background-size: 170%;
	background-position: 90% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 3.5s infinite ease;
}

.tech:nth-child(4) {
	background: url('../icons/react.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 1s infinite ease-in;
}

.tech:nth-child(5) {
	background: url('../icons/redux.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 2s infinite linear;
}

.tech:nth-child(6) {
	background: url('../icons/git.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 2.5s infinite linear;
}

.tech:nth-child(7) {
	background: url('../icons/webpack.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 2s infinite ease-in;
}

.tech:nth-child(8) {
	background: url('../icons/nodejs.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	animation: skillsMove 3s infinite ease-in;
}

.subskills {
	background: #ECE1B9;
	height: 700px;
	width: 500px;
	position: absolute;
	top: 100px;
	left: 60%;
	border-radius: 10px;
	box-shadow: 0 14px 35px 0 rgba(0,0,0,.28);
	z-index: 1;
	animation: skillsMove 4s infinite linear;
}

.skills {
	background: rgb(235, 235, 235);
	height: 700px;
	width: 500px;
	position: absolute;
	top: 100px;
	left: 62%;
	border-radius: 10px;
	box-shadow: 0 12px 9px 0 rgba(0,0,0,.2);
	z-index: 3;
	animation: skillsMove 2s infinite linear;
}

.skills:hover {
	animation: none;
}

.skills h1 {
	margin: 50px 30px 0;
	color: #444753;
}

.skills h1:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: black;
	opacity: .3;
	margin: 10px 0 20px;
}

.skills .techSkills, .skills .lang {
	margin-left: 50px;
	color: #57585D;
	font-size: 1.3rem;
}

.skills .techSkills li {
	margin-bottom: 15px;
}

.skills .techSkills:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: black;
	opacity: .3;
	margin: 10px -20px 20px;
}

.skills .lang li {
	margin: 30px 0;
}

@keyframes skillsMove {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
}



.projectPage{
	background: url(../img/try.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.projectPage h1 {
	margin-top: 100px;	
	margin-bottom: 30px;
	color: #02918c;
}

.projectPage .container {
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1000px;
	border-radius: 20px;
}

.wrapper {
	width: 280px;
	height: 280px;
	margin: 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	perspective: 500px;
	position: relative;
}

.wrapper::before {
	content: 'Take a look';
	color: wheat;
	position: absolute;
	top: 30%;
	font-family: 'Ranga', cursive;
	font-size: 1.7rem;
}

.wrapper:hover .description {
	opacity: 1;
	transition: 1s;
}

.product {
	width: 250px;
	height: 250px;
	background-position: 50% 50%;
	background-size: 130%;
	margin-bottom: 30px;
	border-radius: 30px;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	z-index: 3;
}

.product:hover {
	opacity: 1;
	border-top: 3px solid transparent;
}

.first {
	background: url('../img/Agency.jpg');
	background-position: 50% -500%;
	background-size: 180%;
	background-repeat: no-repeat;
	transform: rotateY(20deg);
}

.first:hover {
	transform: rotateY(0);
	background-position: 50% 50%;
}

.second {
	background: url('../img/Сервер.jpg');
	background-position: 20% -750%;
	background-size: 210%;
	background-repeat: no-repeat;
	transform: rotateX(-20deg);
}

.second:hover {
	transform: rotateX(-5deg);
	background-position: 20% 50%;
}

.third {
	background: url('../img/Blog.jpg');
	background-position: 0% -2800%;
	background-size: 230%;
	background-repeat: no-repeat;
	transform: rotateY(-20deg);
}

.third:hover {
	transform: rotateY(0);
	background-position: 0% 0%;
}

.fourth {
	background: url('../img/Adventure.jpg');
	background-position: 50% 1150%;
	background-size: 170%;
	background-repeat: no-repeat;
	border-top: 3px solid #000;
	transform: rotateY(20deg);
}

.fourth:hover {
	transform: rotateY(0);
	background-position: 50% 50%;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #000;
}

.fifth {
	background: url('../img/Beta.jpg');
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: 40% 7000%;
	border-top: 3px solid #000;
	transform: rotateX(10deg);
}

.fifth:hover {
	transform: rotateX(0deg);
	background-position: 40% 50%;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #000;
}

.sixth {
	background: url('../img/Redux.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 15% 2300%;
	transform: rotateY(-20deg);
}

.sixth:hover {
	background-position: 15% 50%;
	transform: rotateY(0);
}

.descBlock {
	background: rgb(228, 228, 228);
	width: 80%;
	height: 80%;
	z-index: 20;
	border-radius: 5px;
	z-index: 15;
	position: fixed;
	left: 9%;
	top: 10%;
	visibility: hidden;
	font-family: 'Ranga', cursive;
	font-size: 28px;
	text-align: center;
	perspective-origin: 00px;
}

.descBlock button {
	width: 50px;
	height: 100px;
	font-family: 'Ranga', cursive;
	font-size: 28px;
	width: 100%;
	border-radius: 0;
}

.descBlock p {
	border-top: 3px solid black;
	width: 90%;
	margin: 50px auto 30px;
}

.description {
	color: wheat;
	z-index: 5;
	opacity: 0;
	transition: 0.5s;
}

.see {
	border-bottom: 3px solid black;
}


.cvPage {
	background: #F7F9FF;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.cvInfo {
	margin: 80px auto 20px;
	max-width: 1100px;
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	border-right: 2px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	line-height: 1.5;
	font-size: 15px;
}

.cvText h2 {
	font-size: 4.5em;
	font-weight: 300;
	margin-bottom: 40px;
}

.cvText p {
	text-align: left;
	margin-bottom: 10px;
}

.spacialColumns {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
}

.spacialColumns .column {
	margin-right: 30px;
	max-width: 500px;
	text-align: left;
	padding-right: 10px;
	word-spacing: 10px; 
}

.spacialColumns .column h4 {
	font-size: 32px;
	font-family: 'Google Sans';
	font-weight: 300;
}

.spacialColumns .column .dumb {
	width: 90px;
	height: 4px;
	background: #000;
	margin-bottom: 20px;
}

.spacialColumns .column:last-child {
	margin-right: 0;
	border-right: none;
}

.cvEdu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
}

.cvEdu div {
	border-top: 2px solid rgba(0, 0, 0, 0.2);
	width: 49%;
	text-align: left;
}

.cvEdu div h3{
	font-size: 1.8em;
}

.cvEdu div ul li {
	list-style-position: inside;
	list-style: none;
	margin-top: 10px;
	margin-left: 40px;
	font-weight: 800;
}

.cvEdu div ul li::before {
	width: 20px;
	height: 20px;
	content: '';
	background: #000 ;
	margin-right: 10px;
	border: 1px solid #000;
	margin-top: 2px;
	margin-left: -40px;
	position: absolute;
}

.upload button {
	margin-top: 70px;
	border-radius: 3rem;
	height: 60px;
	width: 200px;
	background: #304ffe;
	border-color: #304ffe;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	cursor: pointer;
	color: white;
	transition: .3s;
}

.upload button:hover {
	opacity: 0.9;
}

small {
	margin-left: 5px;
	font-weight: normal;
}



footer {
	margin-top: -40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 200px;
	background: #F7F9FF;
}

footer .f1{
	font-size: 1.9em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	margin: 0 auto;
}

footer .f2 {
	margin: 30px auto 0;
	font-size: 24px;
}

footer .f2 a {
	margin: 0 10px;
}

.linkedin i::before {
	content: "\f08c"
}

.instagram i::before {
	content: "\f16d"
}

.github i::before {
	content: "\f09b"
}

footer .talk {
	color: #304ffe;
	cursor: pointer;
}