*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #02918c;
}

a{
	color: inherit;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}

a:hover{
	opacity: .5;
}

.portfolio{
	height: 62px;
	background: #02918c;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: white;
}

.logo{
	text-transform: uppercase;
	font-size: 1.8em;
	margin-left: 40px;
}

.logo span{
	color: #ccff33;
}

.wrap{
	max-width: 1600px;
	margin: 0 auto;
/*
	border: 1px solid red;*/
} 

.main{
	background: url(../img/bigPict.png);
	height: 95vh;
	 /* calc(100vh - 62px) */
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	color: white;
}

.welcome{
	text-align: center;
	margin: 170px auto;
}

.welcome h1{
	font-size: 60px
}

.welcome p{
	font-size: 1.2em;
	margin-top: 15px;
}

.welcome p:nth-child(3){
	margin-top: 150px;
	margin-bottom: 30px;
}

.but{
	display: inline-block;
	color: white;
	font-size: 60px;
	margin: auto;
	transform: rotate(90deg);
	border: 1px solid white;
	border-right: 1px solid red;
	border-left: 1px solid red;
	border-radius: 100px;
	width: 80px; height: 80px;
}

.but:hover{
	animation: paused;
}

.blackPage{
	height: 140vh;
	background: url('../img/yellow.png');
	position: relative;
	overflow: hidden;
}

.catalog {
	height: 80vh;
	width: 100%;
	background: rgba(19, 19, 180, 0.767);
	position: absolute;
	top: 200px;
}

.catalotItems {
	height: 80%;
	width: 50%;
	background: transparent;
	/* border: 1px solid aqua; */
	margin: 50px;
	padding: 10px;
	text-align: center;
}

.catalotItems h1 {
	color: white;
	opacity: .8;
}

.catalotItems h1:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: wheat;
	opacity: .3;
	margin-top: 10px;
}

.techs {
	/* border: 1px solid white; */
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tech {
	width: 120px;
	height: 120px;
	background: white;
	border-radius: 100px;
	margin: 10px;
	cursor: pointer;
}

.tech:first-child {
	background: url('../icons/html.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(2) {
	background: url('../icons/canvas.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(3) {
	background: url('../icons/js.png');
	background-size: 170%;
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(4) {
	background: url('../icons/react.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(5) {
	background: url('../icons/flux.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(6) {
	background: url('../icons/git.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(7) {
	background: url('../icons/webpack.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tech:nth-child(8) {
	background: url('../icons/nodejs.png');
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.subskills {
	background: #ECE1B9;
	height: 800px;
	width: 500px;
	position: absolute;
	top: 30px;
	left: 760px;
	border-radius: 10px;
	box-shadow: 0 14px 35px 0 rgba(0,0,0,.28);
	z-index: 1;
}

.skills {
	background: white;
	height: 800px;
	width: 500px;
	position: absolute;
	top: 30px;
	left: 800px;
	border-radius: 10px;
	box-shadow: 0 12px 9px 0 rgba(0,0,0,.2);
	z-index: 3;
}

.skills h1 {
	margin: 50px 30px 0;
}

.skills h1:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: black;
	opacity: .3;
	margin: 10px 0 20px;
}

.skills .techSkills, .skills .lang {
	margin-left: 50px;
	color: #57585D;
	font-size: 1.3rem;
}

.skills .techSkills li {
	margin-bottom: 15px;
}

.skills .techSkills:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	background: black;
	opacity: .3;
	margin: 10px -20px 20px;
}

.skills .lang li {
	margin: 30px 0;
}

.projectPage{
	height: 120vh;
	/* background: #23211F; */
	background: url('../img/white.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.projectPage h1 {
	margin-bottom: 30px;
	color: #02918c;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #23211F;
	background: url('../img/white.jpg');
	/* width: 1000px;
	height: 600px; */
	/* border: 1px solid black; */
	border-radius: 20px;
}

.product {
	width: 220px;
	height: 220px;
	background: url('../img/coming.png');
	background-position: 50% 50%;
	background-size: 110%;
	margin: 30px;
	border-radius: 30px;
}

.first {
	background: url('../img/Сервер.png');
	background-position: 20% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
}

.mePage {
	height: 100vh;
	background: #999;
}