    <footer class="footer">
        <div class="container">
            infos
        </div>
    </footer>

<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/script.js"></script>
</body>
</html>