@media screen and (min-width: 1600px) {
    .welcome p:nth-child(3){
        margin-top: 300px;
        margin-bottom: 70px;
    }

    .catalotItems {
        margin: 150px 20%;
    }

    .subskills {
        left: 70%;
        top: 120px;
    }

    .skills {
        left: 71%;
        top: 120px
    }
}