@media screen and (min-width: 1600px) {

    .catalotItems {
        margin: 150px 20%;
    }

    .subskills {
        left: 60%;
        top: 120px;
    }

    .skills {
        left: 61%;
        top: 120px
    }
}

@media screen and (max-width: 1200px) {
    .skillsPage {
        display: none;
    }

    .description {
        opacity: 1;
    }

    .first {
        background-position: 50% 50%;
    }
    .second {
        background-position: 20% 50%;
    }
    .third {
        background-position: 0% 60%;
    }
    .fourth {
        background-position: 50% 70%;
    }
}

@media screen and (max-width: 1000px) {
    .first {
        transform: rotateY(0);
    }
    .second {
        transform: rotateX(0);
    }
    .third {
        transform: rotateY(0);
    }
    .fourth {
        transform: rotateY(0);
    }
}

@media screen and (max-width: 900px) {
    .cvEdu {
        display: block;
        margin-bottom: -100px;
    }
    .cvEdu div{
        width: 100%;
        margin-bottom: 20px;
    }

    /* .cvEdu div:nth-child(2){
        display: none;
    } */
}