@media screen and (min-width: 1600px) {

    .catalotItems {
        margin: 150px 20%;
    }

    .subskills {
        left: 60%;
        top: 120px;
    }

    .skills {
        left: 61%;
        top: 120px
    }
}

@media screen and (max-width: 980px) {

    .catalog {
        height: 800px;
    }

    .catalotItems h1 {
        display: none;
    }

    .techs {
        display: none;
    }

    .subskills {
        left: 26%;
        top: 180px;
    }

    .skills {
        left: 29%;
        top: 180px
    }
}